// Main Font
$main-font: 'Century Gothic', sans-serif;
$main-font-color: #333;
$main-font-size: 24px;
$main-font-weight: 400;
$main-line-height: 1.2;

// Breakpoints
$breakpoint-xs: 340px;
$breakpoint-s: 576px;
$breakpoint-m: 767px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1600px;

// Colors
$black: #333;
$black-light: #555;
$red: #DE1F24;
$grey: #E0E0E0;
$white: #FFF;
$grey-dark: #999;
$grey-background: #F9F9F9;
