<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ОРТГРАФ СВЕТ - Blaker</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" />
    <% } %>
</head>

<body>
    <%= require('../modules/header.html') %>

        <main class="main">
            <section class="section banner banner_light" style="background-image: url(/assets/img/blaker-banner.jpg);">
                <div class="wrapper">
                    <div class="banner__content">
                        <h1 class="banner__title">
                            <span class="banner__title_red">Blaker</span>
                        </h1>
                    </div>
                </div>
            </section>

            <section class="section brand-main">
                <div class="wrapper">
                    <div class="row align-items-start">
                        <div class="col-12 col-md-5">
                            <div class="brand-main__picture">
                                <img src="/assets/img/logo/logo-blaker.png" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="brand-main__decr">
                                <p class="brand-main__text">
                                    BLAKER — команда профессионалов, которая на&nbsp;протяжении 8&nbsp;лет, создает светодиодные светильники. В&nbsp;основе нашего продукта — высокое качество, надёжность и&nbsp;технологическая модернизация. Опыт работы в&nbsp;области коммерческого, торгового и&nbsp;интерьерного освещения помогают нам создавать успешные проекты и&nbsp;способствовать увеличению ваших продаж.
                                </p>
                                <p class="brand-main__text">
                                    <a href="">https://blaker.ru</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <p class="brand-main__subtitle">Освещение от производителя BLAKER</p>
                </div>
            </section>

            <section class="section items-list brand-list">
                <div class="wrapper">
                    <div class="row justify-content-center items-list__grid">
                        <div class="col-auto">
                            <a href="/project-details.html" class="items-list__item items-list-item" data-aos="zoom-in">
                                <h3 class="items-list-item__title">Название проекта<br>в две строки или<br>в три строки</h3>
                                <div class="items-list-item__picture"
                                    style="background-image: url(/assets/img/brands/brand-blaker-1.jpg);"></div>
                                <p class="items-list-item__descr">Здесь идет небольшое описание реализованного проекта в несколько
                                    строк, предположительно где то около пяти - шести строк, скорее всего так.</p>
                                <p class="items-list-item__subtitle">Реализовано</p>
                                <ul class="items-list-item__list">
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                </ul>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="/project-details.html" class="items-list__item items-list-item" data-aos="zoom-in">
                                <h3 class="items-list-item__title">Астраханский государственный</h3>
                                <div class="items-list-item__picture"
                                    style="background-image: url(/assets/img/brands/brand-blaker-2.jpg);"></div>
                                <p class="items-list-item__descr">Здесь идет небольшое описание реализованного проекта в несколько
                                    строк, предположительно где то около пяти - шести строк, скорее всего так.</p>
                                <p class="items-list-item__subtitle">Реализовано</p>
                                <ul class="items-list-item__list">
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                </ul>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="/project-details.html" class="items-list__item items-list-item" data-aos="zoom-in">
                                <h3 class="items-list-item__title">Бизнес-отель<br>“Спектр”</h3>
                                <div class="items-list-item__picture"
                                    style="background-image: url(/assets/img/brands/brand-blaker-3.jpg);"></div>
                                <p class="items-list-item__descr">Здесь идет небольшое описание реализованного проекта в несколько
                                    строк, предположительно где то около пяти - шести строк, скорее всего так.</p>
                                <p class="items-list-item__subtitle">Реализовано</p>
                                <ul class="items-list-item__list">
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                </ul>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="/project-details.html" class="items-list__item items-list-item" data-aos="zoom-in">
                                <h3 class="items-list-item__title">Бизнес-отель<br>“Невский Центр”</h3>
                                <div class="items-list-item__picture"
                                    style="background-image: url(/assets/img/brands/brand-blaker-4.jpg);"></div>
                                <p class="items-list-item__descr">Здесь идет небольшое описание реализованного проекта в несколько
                                    строк, предположительно где то около пяти - шести строк, скорее всего так.</p>
                                <p class="items-list-item__subtitle">Реализовано</p>
                                <ul class="items-list-item__list">
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                </ul>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="/project-details.html" class="items-list__item items-list-item" data-aos="zoom-in">
                                <h3 class="items-list-item__title">Название проекта<br>в две строки или<br>в три строки</h3>
                                <div class="items-list-item__picture"
                                    style="background-image: url(/assets/img/brands/brand-blaker-5.jpg);"></div>
                                <p class="items-list-item__descr">Здесь идет небольшое описание реализованного проекта в несколько
                                    строк, предположительно где то около пяти - шести строк, скорее всего так.</p>
                                <p class="items-list-item__subtitle">Реализовано</p>
                                <ul class="items-list-item__list">
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                </ul>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="/project-details.html" class="items-list__item items-list-item" data-aos="zoom-in">
                                <h3 class="items-list-item__title">Астраханский государственный</h3>
                                <div class="items-list-item__picture"
                                    style="background-image: url(/assets/img/brands/brand-blaker-6.jpg);"></div>
                                <p class="items-list-item__descr">Здесь идет небольшое описание реализованного проекта в несколько
                                    строк, предположительно где то около пяти - шести строк, скорее всего так.</p>
                                <p class="items-list-item__subtitle">Реализовано</p>
                                <ul class="items-list-item__list">
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                </ul>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="/project-details.html" class="items-list__item items-list-item" data-aos="zoom-in">
                                <h3 class="items-list-item__title">Бизнес-отель<br>“Спектр”</h3>
                                <div class="items-list-item__picture"
                                    style="background-image: url(/assets/img/brands/brand-blaker-7.jpg);"></div>
                                <p class="items-list-item__descr">Здесь идет небольшое описание реализованного проекта в несколько
                                    строк, предположительно где то около пяти - шести строк, скорее всего так.</p>
                                <p class="items-list-item__subtitle">Реализовано</p>
                                <ul class="items-list-item__list">
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                </ul>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a href="/project-details.html" class="items-list__item items-list-item" data-aos="zoom-in">
                                <h3 class="items-list-item__title">Бизнес-отель<br>“Невский Центр”</h3>
                                <div class="items-list-item__picture"
                                    style="background-image: url(/assets/img/brands/brand-blaker-8.jpg);"></div>
                                <p class="items-list-item__descr">Здесь идет небольшое описание реализованного проекта в несколько
                                    строк, предположительно где то около пяти - шести строк, скорее всего так.</p>
                                <p class="items-list-item__subtitle">Реализовано</p>
                                <ul class="items-list-item__list">
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                    <li class="items-list-item__item"><span>замена всех фасадных ламп</span></li>
                                </ul>
                            </a>
                        </div>
                    </div>
                    <%= require('../modules/pagination.html') %>
                </div>
            </section>
        </main>

        <%= require('../modules/footer.html') %>
        <% for (key in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[key] %>" type="text/javascript"></script>
        <% } %>
</body>

</html>