<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ОРТГРАФ СВЕТ - Сотрудничество</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" /><% } %>
</head>

<body>
    <%= require('../modules/header.html') %>

    <main class="main">
        <section class="section banner" style="background-image: url(/assets/img/cooperation-banner.jpg);">
            <div class="wrapper">
                <div class="banner__content">
                    <h1 class="banner__title">
                        <span class="banner__title_red">Сотрудничество</span>
                    </h1>
                </div>
            </div>
        </section>
        <section class="section cooperation-main">
            <div class="wrapper">
                <div class="cooperation-main-slider">
                    <div class="swiper-pagination row cooperation-main-slider__pagination"></div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <div class="cooperation-point">
                                            <div class="cooperation-point__row">
                                                <div class="cooperation-point__picture">
                                                    <img src="/assets/img/icons/icon-cooperation-1.png" alt="">
                                                </div>
                                                <div class="cooperation-point__descr">
                                                    <p class="cooperation-point__title">Обучение сотрудников</p>
                                                    <p class="cooperation-point__text">консультации и помощь</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="cooperation-point">
                                            <div class="cooperation-point__row">
                                                <div class="cooperation-point__picture">
                                                    <img src="/assets/img/icons/icon-cooperation-2.png" alt="">
                                                </div>
                                                <div class="cooperation-point__descr">
                                                    <p class="cooperation-point__title">Складская программа</p>
                                                    <p class="cooperation-point__text">постоянное наличие продукции на складе, а также доставка под зака</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="cooperation-point">
                                            <div class="cooperation-point__row">
                                                <div class="cooperation-point__picture">
                                                    <img src="/assets/img/icons/icon-cooperation-3.png" alt="">
                                                </div>
                                                <div class="cooperation-point__descr">
                                                    <p class="cooperation-point__title">Поддержка</p>
                                                    <p class="cooperation-point__text">техническая и маркетинговая поддержка: образцы, каталоги, брошюры</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cooperation-main-slider__info">
                                    <p class="cooperation-main-slider__text">Компания ОРТГРАФ развивает дилерскую сеть по всей территории Российской Федерации.</p>
                                    <p class="cooperation-main-slider__text">Мы приглашаем:</p>
                                    <ul class="cooperation-main-slider__list">
                                        <li class="cooperation-main-slider__item"><p><b>Салоны напольных покрытий</b> и других отделочных материалов.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Интерьерные, мебельные, текстильные</b> салоны.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Дизайнерские бюро</b> и архитектурные студии.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Строительные фирмы</b> и комплектаторов.</p></li>
                                    </ul>
                                    <p class="cooperation-main-slider__text">Необходимая свободная площадь – 12 кв.м.</p>
                                    <p class="cooperation-main-slider__text">Мы предлагаем:</p>
                                    <ul class="cooperation-main-slider__list">
                                        <li class="cooperation-main-slider__item"><p><b>Уникальные коллекции</b> отделочных материалов как премиум класса, так и бюджетные варианты.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Складскую программу:</b> постоянное наличие на складе популярных коллекций.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Аренду и продажу торгового оборудования:</b> 2 стеллажа и 150 образцов материалов.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Выгодные цены:</b> дилерский прайс-лист.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Программу персональный менеджер:</b> контакт с одним сотрудником, поддержка во всех вопросах.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Обучение сотрудников</b>, консультации и помощь.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Техническую, маркетинговую поддержку</b>: образцы, каталоги, брошюры.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Доставку</b> по Москве и области или до транспортной компании.</p></li>
                                    </ul>
                                    <p class="cooperation-main-slider__text">И никакого плана!</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <div class="cooperation-point">
                                            <div class="cooperation-point__row">
                                                <div class="cooperation-point__picture">
                                                    <img src="/assets/img/icons/icon-cooperation-4.png" alt="">
                                                </div>
                                                <div class="cooperation-point__descr">
                                                    <p class="cooperation-point__title">Уникальные коллекции</p>
                                                    <p class="cooperation-point__text">отделочных материалов как премиум класса, так и бюджетные варианты</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="cooperation-point">
                                            <div class="cooperation-point__row">
                                                <div class="cooperation-point__picture">
                                                    <img src="/assets/img/icons/icon-cooperation-5.png" alt="">
                                                </div>
                                                <div class="cooperation-point__descr">
                                                    <p class="cooperation-point__title">Доставка и монтаж покрытий</p>
                                                    <p class="cooperation-point__text">оверлок, обработка ковровых покрытий, укладка, оклейка обоев, пошив штор</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="cooperation-point">
                                            <div class="cooperation-point__row">
                                                <div class="cooperation-point__picture">
                                                    <img src="/assets/img/icons/icon-cooperation-6.png" alt="">
                                                </div>
                                                <div class="cooperation-point__descr">
                                                    <p class="cooperation-point__title">Индивидуальный подход</p>
                                                    <p class="cooperation-point__text">визуализация, планы оптимального расхода материалов, сметы</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cooperation-main-slider__info">
                                    <p class="cooperation-main-slider__text">Вам нужно укомплектовать объект материалами? Компания ОРТГРАФ предлагает вам сотрудничество.</p>
                                    <p class="cooperation-main-slider__text">Мы приглашаем:</p>
                                    <ul class="cooperation-main-slider__list">
                                        <li class="cooperation-main-slider__item"><p><b>Уникальные коллекции</b> отделочных материалов как премиум класса, так и бюджетные варианты.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Каталоги, образцы</b> продукции.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Складскую программу: </b>постоянное наличие на складе популярных коллекций.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Выезд менеджера на объект</b>, подбор материалов по привезенным образцам.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Индивидуальный подход: </b>визуализация, планы оптимального расхода материалов, сметы.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Доставка и монтаж покрытий: </b>оверлок, обработка ковровых покрытий, укладка, оклейка обоев, пошив штор и т.д.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Индивидуальные условия сотрудничества: </b>скидки и т.д.</p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <div class="cooperation-point">
                                            <div class="cooperation-point__row">
                                                <div class="cooperation-point__picture">
                                                    <img src="/assets/img/icons/icon-cooperation-4.png" alt="">
                                                </div>
                                                <div class="cooperation-point__descr">
                                                    <p class="cooperation-point__title">Уникальные коллекции</p>
                                                    <p class="cooperation-point__text">отделочных материалов как премиум класса, так и бюджетные варианты</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="cooperation-point">
                                            <div class="cooperation-point__row">
                                                <div class="cooperation-point__picture">
                                                    <img src="/assets/img/icons/icon-cooperation-7.png" alt="">
                                                </div>
                                                <div class="cooperation-point__descr">
                                                    <p class="cooperation-point__title">Подбор материалов</p>
                                                    <p class="cooperation-point__text">под ваши проекты и консультации специалистов</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="cooperation-point">
                                            <div class="cooperation-point__row">
                                                <div class="cooperation-point__picture">
                                                    <img src="/assets/img/icons/icon-cooperation-2.png" alt="">
                                                </div>
                                                <div class="cooperation-point__descr">
                                                    <p class="cooperation-point__title">Складская программа</p>
                                                    <p class="cooperation-point__text">постоянное наличие продукции на складе, а также доставка под заказ</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cooperation-main-slider__info">
                                    <p class="cooperation-main-slider__text">Компания ОРТГРАФ активно работает с архитекторами и дизайнерами интерьеров. Мы постоянно расширяем круг общения и приглашаем к сотрудничеству талантливых творческих людей, а также дизайн-студии.</p>
                                    <p class="cooperation-main-slider__text">Мы приглашаем:</p>
                                    <ul class="cooperation-main-slider__list">
                                        <li class="cooperation-main-slider__item"><p><b>Уникальные коллекции </b>отделочных материалов.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Каталоги, образцы </b>продукции.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Индивидуальный дизайн:</b> изготовление по ваших эскизам.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Подбор материалов </b>под ваши проекты, консультации, визуализации, планы оптимального расхода материалов, сметы.</p></li>
                                        <li class="cooperation-main-slider__item"><p><b>Архи-скидки.</b> Скидки всем! Индивидуальные условия сотрудничества.</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrows__arrow slider-arrows__arrow_prew cooperation-main-slider__prev"></div>
                        <div class="slider-arrows__arrow slider-arrows__arrow_next cooperation-main-slider__next"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section banner banner_bottom" style="background-image: url(/assets/img/cooperation-banner-bottom.jpg);">
            <div class="wrapper">
                <div class="banner__content">
                    <h1 class="banner__title">
                        <span class="banner__title_red desktop">МЫ ГАРАНТИРУЕМ КАЧЕСТВЕННЫЙ<br></span>
                        <span class="banner__title_red mobile">МЫ ГАРАНТИРУЕМ<br></span>
                        <span class="banner__title_red mobile">КАЧЕСТВЕННЫЙ<br></span>
                        <span class="banner__title_red">СЕРВИС НА КАЖДОМ<br></span>
                        <span class="banner__title_red">ЭТАПЕ СОТРУДНИЧЕСТВА<br></span>
                    </h1>
                    <button class="button button_grey banner__button"><span>Убедитесь сами</span></button>
                </div>
            </div>
        </section>
    </main>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=03eead87-7c74-47b6-8225-a66c904574d8&lang=ru_RU" type="text/javascript"></script>
    <%= require('../modules/footer.html') %>
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>" type="text/javascript"></script><% } %>
</body>

</html>