<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ОРТГРАФ СВЕТ</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" /><% } %>
</head>

<body>
    <%= require('../modules/header.html') %>

    <main class="main">
        <section class="section banner" style="background-image: url(/assets/img/main-banner.jpg);">
            <div class="wrapper">
                <div class="banner__content">
                    <h1 class="banner__title">
                        <span class="banner__title_red desktop">ЛАБОРАТОРИЯ ОСВЕЩЕНИЯ</span>
                        <span class="banner__title_red mobile">ЛАБОРАТОРИЯ</span>
                        <span class="banner__title_red mobile">ОСВЕЩЕНИЯ</span>
                        <br>
                        <span class="banner__title_black">ОРТГРАФ LIGHT</span>
                    </h1>
                    <p class="banner__descr">Разработка концепций, светотехническое проектирование, поставка и монтаж
                        оборудования, сервисное обслуживание</p>
                    <button class="button button_red banner__button"><span>Получить консультацию</span></button>
                </div>
            </div>
        </section>

        <section class="section solutions" style="background-image: url(/assets/img/solution-bg.jpg);">
            <div class="wrapper">
                <div class="section__headline">
                    <p class="title solutions__title">Решения</p>
                    <a href="" class="button solutions__button"><span>все решения</span></a>
                </div>
                <div class="solutions-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <a href="" class="swiper-slide solutions-slider__slide" data-aos="zoom-in-up"
                                style="background-image: url(/assets/img/solution-1.jpg);">
                                <div class="solutions-slider__content">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#shop"></use>
                                    </svg>
                                    <p class="desktop">Для<br>магазинов</p>
                                    <p class="mobile">Магазины</p>
                                </div>
                            </a>
                            <a href="" class="swiper-slide solutions-slider__slide" data-aos="zoom-in-up"
                                style="background-image: url(/assets/img/solution-2.jpg);">
                                <div class="solutions-slider__content">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#peoples"></use>
                                    </svg>
                                    <p class="desktop">Для<br>офисов</p>
                                    <p class="mobile">Офисы</p>
                                </div>
                            </a>
                            <a href="" class="swiper-slide solutions-slider__slide" data-aos="zoom-in-up"
                                style="background-image: url(/assets/img/solution-3.jpg);">
                                <div class="solutions-slider__content">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#circle"></use>
                                    </svg>
                                    <p>ИНТЕЛЛЕКТУАЛЬНОЕ<br>ОСВЕЩЕНИЕ</p>
                                </div>
                            </a>
                            <a href="" class="swiper-slide solutions-slider__slide" data-aos="zoom-in-up"
                                style="background-image: url(/assets/img/solution-4.jpg);">
                                <div class="solutions-slider__content">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#calc"></use>
                                    </svg>
                                    <p>рассчитаем<br>ваш проект</p>
                                </div>
                            </a>
                            <a href="" class="swiper-slide solutions-slider__slide" data-aos="zoom-in-up"
                                style="background-image: url(/assets/img/solution-1.jpg);">
                                <div class="solutions-slider__content">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#shop"></use>
                                    </svg>
                                    <p class="desktop">Для<br>магазинов</p>
                                    <p class="mobile">Магазины</p>
                                </div>
                            </a>
                            <a href="" class="swiper-slide solutions-slider__slide" data-aos="zoom-in-up"
                                style="background-image: url(/assets/img/solution-2.jpg);">
                                <div class="solutions-slider__content">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#peoples"></use>
                                    </svg>
                                    <p class="desktop">Для<br>офисов</p>
                                    <p class="mobile">Офисы</p>
                                </div>
                            </a>
                            <a href="" class="swiper-slide solutions-slider__slide" data-aos="zoom-in-up"
                                style="background-image: url(/assets/img/solution-3.jpg);">
                                <div class="solutions-slider__content">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#circle"></use>
                                    </svg>
                                    <p>ИНТЕЛЛЕКТУАЛЬНОЕ<br>ОСВЕЩЕНИЕ</p>
                                </div>
                            </a>
                            <a href="" class="swiper-slide solutions-slider__slide" data-aos="zoom-in-up"
                                style="background-image: url(/assets/img/solution-4.jpg);">
                                <div class="solutions-slider__content">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#calc"></use>
                                    </svg>
                                    <p>рассчитаем<br>ваш проект</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-scrollbar solutions-slider__scrollbar mobile"></div>
                    <div class="slider-arrows">
                        <div class="slider-arrows__arrow slider-arrows__arrow_prew solutions-slider__prev"></div>
                        <div class="slider-arrows__arrow slider-arrows__arrow_next solutions-slider__next"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section lamps">
            <div class="wrapper">
                <div class="section__headline lamps__headline">
                    <p class="title">Каталог <span class="desktop">светильников</span></p>
                    <a href="" class="button"><span>весь каталог</span></a>
                </div>
                <p class="lamps__descr">Широкий ассортимент светотехнического оборудования:</p>
                <div class="lamps-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide lamps-slider__slide">
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-3"></use>
                                    </svg>
                                    <p>Внутреннее<br>освещение</p>
                                </a>
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-1"></use>
                                    </svg>
                                    <p>лампы</p>
                                </a>
                            </div>
                            <div class="swiper-slide lamps-slider__slide">
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-2"></use>
                                    </svg>
                                    <p>декоративные<br>светильники</p>
                                </a>
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-4"></use>
                                    </svg>
                                    <p>наружное<br>освещение</p>
                                </a>
                            </div>
                            <div class="swiper-slide lamps-slider__slide">
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-3"></use>
                                    </svg>
                                    <p>Внутреннее<br>освещение</p>
                                </a>
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-1"></use>
                                    </svg>
                                    <p>лампы</p>
                                </a>
                            </div>
                            <div class="swiper-slide lamps-slider__slide">
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-2"></use>
                                    </svg>
                                    <p>декоративные<br>светильники</p>
                                </a>
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-4"></use>
                                    </svg>
                                    <p>наружное<br>освещение</p>
                                </a>
                            </div>
                            <div class="swiper-slide lamps-slider__slide">
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-3"></use>
                                    </svg>
                                    <p>Внутреннее<br>освещение</p>
                                </a>
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-1"></use>
                                    </svg>
                                    <p>лампы</p>
                                </a>
                            </div>
                            <div class="swiper-slide lamps-slider__slide">
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-2"></use>
                                    </svg>
                                    <p>декоративные<br>светильники</p>
                                </a>
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-4"></use>
                                    </svg>
                                    <p>наружное<br>освещение</p>
                                </a>
                            </div>
                            <div class="swiper-slide lamps-slider__slide">
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-3"></use>
                                    </svg>
                                    <p>Внутреннее<br>освещение</p>
                                </a>
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-1"></use>
                                    </svg>
                                    <p>лампы</p>
                                </a>
                            </div>
                            <div class="swiper-slide lamps-slider__slide">
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-2"></use>
                                    </svg>
                                    <p>декоративные<br>светильники</p>
                                </a>
                                <a href="" class="lamps-slider__item" data-aos="zoom-in">
                                    <svg>
                                        <use xlink:href="/assets/img/sprite.svg#lamp-4"></use>
                                    </svg>
                                    <p>наружное<br>освещение</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrows__arrow slider-arrows__arrow_prew lamps-slider__prev"></div>
                        <div class="slider-arrows__arrow slider-arrows__arrow_next lamps-slider__next"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section reviews" style="background-image: url(/assets/img/reviews.jpg);">
            <div class="wrapper">
                <div class="reviews__content">
                    <div class="section__headline section__headline_nearby section__headline_spaced">
                        <p class="title title_white">Нам доверяют</p>
                        <a href="" class="button button_white desktop"><span>отзывы клиентов</span></a>
                    </div>
                    <div class="reviews-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="reviews-slider__group swiper-slide">
                                    <a href="" data-aos="zoom-in" class="reviews-slider__slide">
                                        <img src="/assets/img/logo-ege.png" alt="Логтип компании ege">
                                    </a>
                                    <a href="" data-aos="zoom-in" class="reviews-slider__slide">
                                        <img src="/assets/img/logo-2tec2.png" alt="Логтип компании 2tec2">
                                    </a>
                                </div>

                                <div class="reviews-slider__group swiper-slide">
                                    <a href="" data-aos="zoom-in" class="reviews-slider__slide">
                                        <img src="/assets/img/logo-amtico.png" alt="Логтип компании amtico">
                                    </a>
                                    <a href="" data-aos="zoom-in" class="reviews-slider__slide">
                                        <img src="/assets/img/logo-artigo.png" alt="Логтип компании artigo">
                                    </a>
                                </div>

                                <div class="reviews-slider__group swiper-slide">
                                    <a href="" data-aos="zoom-in" class="reviews-slider__slide">
                                        <img src="/assets/img/logo-arkit.png" alt="Логтип компании arkit">
                                    </a>
                                    <a href="" data-aos="zoom-in" class="reviews-slider__slide">
                                        <img src="/assets/img/logo-jabo.png" alt="Логтип компании jabo">
                                    </a>
                                </div>

                                <div class="reviews-slider__group swiper-slide">
                                    <a href="" data-aos="zoom-in" class="reviews-slider__slide">
                                        <img src="/assets/img/logo-ege.png" alt="Логтип компании ege">
                                    </a>
                                    <a href="" data-aos="zoom-in" class="reviews-slider__slide">
                                        <img src="/assets/img/logo-2tec2.png" alt="Логтип компании 2tec2">
                                    </a>
                                </div>

                                <div class="reviews-slider__group swiper-slide">
                                    <a href="" data-aos="zoom-in" class="reviews-slider__slide">
                                        <img src="/assets/img/logo-amtico.png" alt="Логтип компании amtico">
                                    </a>
                                    <a href="" data-aos="zoom-in" class="reviews-slider__slide">
                                        <img src="/assets/img/logo-artigo.png" alt="Логтип компании artigo">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-scrollbar reviews-slider__scrollbar"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section projects">
            <div class="wrapper">
                <div class="section__headline section__headline_spaced">
                    <p class="title">Реализованные проекты</p>
                    <a href="/projects.html" class="button desktop"><span>все проекты</span></a>
                </div>
                <div class="projects-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <a href="/project-details.html" class="swiper-slide projects-slider__slide" data-aos="zoom-in"
                                style="background-image: url(/assets/img/project-1.jpg);"></a>
                            <a href="/project-details.html" class="swiper-slide projects-slider__slide" data-aos="zoom-in"
                                style="background-image: url(/assets/img/project-2.jpg);"></a>
                            <a href="/project-details.html" class="swiper-slide projects-slider__slide" data-aos="zoom-in"
                                style="background-image: url(/assets/img/project-3.jpg);"></a>
                            <a href="/project-details.html" class="swiper-slide projects-slider__slide" data-aos="zoom-in"
                                style="background-image: url(/assets/img/project-4.jpg);"></a>
                            <a href="/project-details.html" class="swiper-slide projects-slider__slide" data-aos="zoom-in"
                                style="background-image: url(/assets/img/project-1.jpg);"></a>
                            <a href="/project-details.html" class="swiper-slide projects-slider__slide" data-aos="zoom-in"
                                style="background-image: url(/assets/img/project-2.jpg);"></a>
                            <a href="/project-details.html" class="swiper-slide projects-slider__slide" data-aos="zoom-in"
                                style="background-image: url(/assets/img/project-3.jpg);"></a>
                            <a href="/project-details.html" class="swiper-slide projects-slider__slide" data-aos="zoom-in"
                                style="background-image: url(/assets/img/project-4.jpg);"></a>
                        </div>
                    </div>
                    <div class="swiper-scrollbar swiper-scrollbar_dark projects-slider__scrollbar mobile"></div>
                    <div class="slider-arrows">
                        <div class="slider-arrows__arrow slider-arrows__arrow_prew projects-slider__prev"></div>
                        <div class="slider-arrows__arrow slider-arrows__arrow_next projects-slider__next"></div>
                    </div>
                </div>
                <div class="projects__button">
                    <a href="/projects.html" class="button mobile"><span>все проекты</span></a>
                </div>
            </div>
        </section>

        <section class="section company">
            <div class="wrapper">
                <div class="section__headline">
                    <p class="title title_white">Компания ОРТГРАФ</p>
                </div>
                <p class="company__descr">С 1997 года занимаемся поставками материалов для интерьеров. Эксклюзивный
                    представитель более 15 европейских брендов в РФ. Вот некоторые из наших проектов:</p>
                <div class="company__row desktop">
                    <div class="company-desert">
                        <svg>
                            <use xlink:href="/assets/img/sprite.svg#case"></use>
                        </svg>
                        <div class="company-desert__text">
                            <p class="company-desert__title">5000 +</p>
                            <p class="company-desert__descr">реализованных<br>проектов</p>
                        </div>
                    </div>
                    <div class="company-desert">
                        <svg>
                            <use xlink:href="/assets/img/sprite.svg#hands"></use>
                        </svg>
                        <div class="company-desert__text">
                            <p class="company-desert__title">21 год</p>
                            <p class="company-desert__descr">опыт компании<br>с 1997 г</p>
                        </div>
                    </div>
                    <div class="company-desert">
                        <svg>
                            <use xlink:href="/assets/img/sprite.svg#box"></use>
                        </svg>
                        <div class="company-desert__text">
                            <p class="company-desert__title">Подберем решение</p>
                            <p class="company-desert__descr">под ваши<br>задачи</p>
                        </div>
                    </div>
                </div>
                <div class="company__row company__row_center">
                    <button class="button button_red button_icon desktop">
                        <svg>
                            <use xlink:href="/assets/img/sprite.svg#calc"></use>
                        </svg>
                        <span>Рассчитать проект<span>
                    </button>
                    <div class="company__log">
                        <img src="/assets/img/logo-hilton.png" alt="Логитп hilton">
                    </div>
                    <div class="company__log">
                        <img src="/assets/img/logo-radission.png" alt="Логитп radission">
                    </div>
                    <div class="company__log">
                        <img src="/assets/img/logo-marriot.png" alt="Логитп marriot">
                    </div>
                    <div class="company__log">
                        <img src="/assets/img/logo-novotel.png" alt="Логитп novotel">
                    </div>
                    <div class="company__log">
                        <img src="/assets/img/logo-ibis.png" alt="Логитп ibis">
                    </div>
                    <div class="company__log">
                        <img src="/assets/img/logo-holiday.png" alt="Логитп holiday">
                    </div>
                </div>
            </div>
        </section>

        <section class="section information">
            <div class="wrapper">
                <div class="information__row">
                    <div class="information__descr">
                        <svg class="icon">
                            <use xlink:href="/assets/img/sprite.svg#logo"></use>
                        </svg>
                        <p>
                            В 2020 году мы открыли направление световых решений, преимущественно для офисных интерьеров.
                            <br><br>
                            Сотрудничаем с известными европейскими брендам, есть собственные склады и логистика по РФ и
                            СНГ.
                            <br><br>
                            Разработали собственную линейку осветительного оборудования на базе производственной
                            площадки в Подмосковье.
                        </p>
                    </div>
                    <div class="information-slider desktop">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div href="" class="swiper-slide information-slider__slide"
                                    style="background-image: url(/assets/img/information-slide.jpg);"></div>
                                <div href="" class="swiper-slide information-slider__slide"
                                    style="background-image: url(/assets/img/information-slide.jpg);"></div>
                                <div href="" class="swiper-slide information-slider__slide"
                                    style="background-image: url(/assets/img/information-slide.jpg);"></div>
                            </div>
                        </div>
                        <div class="swiper-pagination information-slider__pagination"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section consult">
            <div class="wrapper">
                <form action="" class="consult__form" data-aos="zoom-in">
                    <h3 class="consult__title">
                        <span>Требуется</span> <br>
                        <span>консультация ?</span>
                    </h3>
                    <div class="consult__row consult__row_wrap">
                        <p class="consult__descr">Оставьте свой номер телефона и наш специалист свяжется с Вами в
                            кратчайшее время.</p>
                        <div class="consult__row consult__row_rewerce">
                            <button class="button button_red button_icon"><span>Получить консультацию</span></button>
                            <label class="consult__label">
                                <span>Телефон</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </section>

        <section class="section news">
            <div class="wrapper">
                <div class="section__headline section__headline_spaced">
                    <p class="title">Новости</p>
                    <a href="/news.html" class="button desktop"><span>смотреть все</span></a>
                </div>
                <div class="news__row">
                    <div class="news__list">
                        <a href="/news-details.html" class="news__item news-item" data-aos="fade-right">
                            <img src="/assets/img/news-1.jpg" alt="" class="news-item__img">
                            <div class="news-item__descr">
                                <p class="news-item__title">Внутреннее освещение в магазине: основные нюансы</p>
                                <p class="news-item__data">20 / 11 / 2020</p>
                                <p class="news-item__text desktop">Полимерные наборные покрытия для пола обладают
                                    превосходными
                                    декоративно-защитными качествами и отличными эксплуатационн...</p>
                            </div>
                        </a>
                        <a href="/news-details.html" class="news__item news-item" data-aos="fade-right">
                            <img src="/assets/img/news-2.jpg" alt="" class="news-item__img">
                            <div class="news-item__descr">
                                <p class="news-item__title">Внутреннее освещение в магазине: основные нюансы</p>
                                <p class="news-item__data">20 / 11 / 2020</p>
                                <p class="news-item__text desktop">Полимерные наборные покрытия для пола обладают
                                    превосходными
                                    декоративно-защитными качествами и отличными эксплуатационн...</p>
                            </div>
                        </a>
                    </div>
                    <div class="news-slider desktop">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div href="" class="swiper-slide news-slider__slide"
                                    style="background-image: url(/assets/img/news-slide-1.jpg);"></div>
                                <div href="" class="swiper-slide news-slider__slide"
                                    style="background-image: url(/assets/img/news-slide-1.jpg);"></div>
                                <div href="" class="swiper-slide news-slider__slide"
                                    style="background-image: url(/assets/img/news-slide-1.jpg);"></div>
                            </div>
                        </div>
                        <div class="swiper-pagination news-slider__pagination"></div>
                    </div>
                </div>
                <div class="news__button mobile">
                    <a href="/news.html" class="button"><span>смотреть все</span></a>
                </div>
            </div>
        </section>
    </main>
    
    <%= require('../modules/footer.html') %>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>" type="text/javascript"></script><% } %>
</body>

</html>