<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ОРТГРАФ СВЕТ - Новости</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" /><% } %>
</head>

<body>
    <%= require('../modules/header.html') %>

    <main class="main">
        <section class="section news-pade">
            <div class="wrapper">
                <h1 class="page-title news-pade__title">Новости</h1>
                <div class="news-pade__list news-list">
                    <a href="/news-details.html" class="news-list__item" data-aos="zoom-in">
                        <div class="news-list__picture">
                            <div class="news-list__img" style="background-image: url(/assets/img/news-list-1.jpg);"></div>
                        </div>
                        <div class="news-list__text">
                            <p class="news-list__title">Внутреннее освещение в магазине:<br>основные нюансы</p>
                            <div class="news-list__row">
                                <p class="news-list__info">20 / 11 / 2020</p>
                                <p class="news-list__info">#декоративные</p>
                            </div>
                            <p class="news-list__descr">Полимерные наборные покрытия для пола обладают превосходными декоративно-защитными качествами и отличными эксплуатационными характеристиками. ПВХ-плитка при всей своей неприхотливости нуждается в регулярном уходе, что позволит сохранить ее привлекательный вид. Соблюдение рекомендаций производителей и специалистов – залог долговечности этого уникального отделочного материала.</p>
                        </div>
                    </a>
                    <a href="/news-details.html" class="news-list__item" data-aos="zoom-in">
                        <div class="news-list__picture">
                            <div class="news-list__img" style="background-image: url(/assets/img/news-list-2.jpg);"></div>
                        </div>
                        <div class="news-list__text">
                            <p class="news-list__title">Внутреннее освещение в магазине:<br>основные нюансы</p>
                            <div class="news-list__row">
                                <p class="news-list__info">20 / 11 / 2020</p>
                                <p class="news-list__info">#декоративные</p>
                            </div>
                            <p class="news-list__descr">Полимерные наборные покрытия для пола обладают превосходными декоративно-защитными качествами и отличными эксплуатационными характеристиками. ПВХ-плитка при всей своей неприхотливости нуждается в регулярном уходе, что позволит сохранить ее привлекательный вид. Соблюдение рекомендаций производителей и специалистов – залог долговечности этого уникального отделочного материала.</p>
                        </div>
                    </a>
                    <a href="/news-details.html" class="news-list__item" data-aos="zoom-in">
                        <div class="news-list__picture">
                            <div class="news-list__img" style="background-image: url(/assets/img/news-list-3.jpg);"></div>
                        </div>
                        <div class="news-list__text">
                            <p class="news-list__title">Внутреннее освещение в магазине:<br>основные нюансы</p>
                            <div class="news-list__row">
                                <p class="news-list__info">20 / 11 / 2020</p>
                                <p class="news-list__info">#декоративные</p>
                            </div>
                            <p class="news-list__descr">Полимерные наборные покрытия для пола обладают превосходными декоративно-защитными качествами и отличными эксплуатационными характеристиками. ПВХ-плитка при всей своей неприхотливости нуждается в регулярном уходе, что позволит сохранить ее привлекательный вид. Соблюдение рекомендаций производителей и специалистов – залог долговечности этого уникального отделочного материала.</p>
                        </div>
                    </a>
                    <a href="/news-details.html" class="news-list__item" data-aos="zoom-in">
                        <div class="news-list__picture">
                            <div class="news-list__img" style="background-image: url(/assets/img/news-list-4.jpg);"></div>
                        </div>
                        <div class="news-list__text">
                            <p class="news-list__title">Внутреннее освещение в магазине:<br>основные нюансы</p>
                            <div class="news-list__row">
                                <p class="news-list__info">20 / 11 / 2020</p>
                                <p class="news-list__info">#декоративные</p>
                            </div>
                            <p class="news-list__descr">Полимерные наборные покрытия для пола обладают превосходными декоративно-защитными качествами и отличными эксплуатационными характеристиками. ПВХ-плитка при всей своей неприхотливости нуждается в регулярном уходе, что позволит сохранить ее привлекательный вид. Соблюдение рекомендаций производителей и специалистов – залог долговечности этого уникального отделочного материала.</p>
                        </div>
                    </a>
                    <a href="/news-details.html" class="news-list__item" data-aos="zoom-in">
                        <div class="news-list__picture">
                            <div class="news-list__img" style="background-image: url(/assets/img/news-list-5.jpg);"></div>
                        </div>
                        <div class="news-list__text">
                            <p class="news-list__title">Внутреннее освещение в магазине:<br>основные нюансы</p>
                            <div class="news-list__row">
                                <p class="news-list__info">20 / 11 / 2020</p>
                                <p class="news-list__info">#декоративные</p>
                            </div>
                            <p class="news-list__descr">Полимерные наборные покрытия для пола обладают превосходными декоративно-защитными качествами и отличными эксплуатационными характеристиками. ПВХ-плитка при всей своей неприхотливости нуждается в регулярном уходе, что позволит сохранить ее привлекательный вид. Соблюдение рекомендаций производителей и специалистов – залог долговечности этого уникального отделочного материала.</p>
                        </div>
                    </a>
                    <a href="/news-details.html" class="news-list__item" data-aos="zoom-in">
                        <div class="news-list__picture">
                            <div class="news-list__img" style="background-image: url(/assets/img/news-list-6.jpg);"></div>
                        </div>
                        <div class="news-list__text">
                            <p class="news-list__title">Внутреннее освещение в магазине:<br>основные нюансы</p>
                            <div class="news-list__row">
                                <p class="news-list__info">20 / 11 / 2020</p>
                                <p class="news-list__info">#декоративные</p>
                            </div>
                            <p class="news-list__descr">Полимерные наборные покрытия для пола обладают превосходными декоративно-защитными качествами и отличными эксплуатационными характеристиками. ПВХ-плитка при всей своей неприхотливости нуждается в регулярном уходе, что позволит сохранить ее привлекательный вид. Соблюдение рекомендаций производителей и специалистов – залог долговечности этого уникального отделочного материала.</p>
                        </div>
                    </a>
                    <a href="/news-details.html" class="news-list__item" data-aos="zoom-in">
                        <div class="news-list__picture">
                            <div class="news-list__img" style="background-image: url(/assets/img/news-list-7.jpg);"></div>
                        </div>
                        <div class="news-list__text">
                            <p class="news-list__title">Внутреннее освещение в магазине:<br>основные нюансы</p>
                            <div class="news-list__row">
                                <p class="news-list__info">20 / 11 / 2020</p>
                                <p class="news-list__info">#декоративные</p>
                            </div>
                            <p class="news-list__descr">Полимерные наборные покрытия для пола обладают превосходными декоративно-защитными качествами и отличными эксплуатационными характеристиками. ПВХ-плитка при всей своей неприхотливости нуждается в регулярном уходе, что позволит сохранить ее привлекательный вид. Соблюдение рекомендаций производителей и специалистов – залог долговечности этого уникального отделочного материала.</p>
                        </div>
                    </a>
                    <a href="/news-details.html" class="news-list__item" data-aos="zoom-in">
                        <div class="news-list__picture">
                            <div class="news-list__img" style="background-image: url(/assets/img/news-list-8.jpg);"></div>
                        </div>
                        <div class="news-list__text">
                            <p class="news-list__title">Внутреннее освещение в магазине:<br>основные нюансы</p>
                            <div class="news-list__row">
                                <p class="news-list__info">20 / 11 / 2020</p>
                                <p class="news-list__info">#декоративные</p>
                            </div>
                            <p class="news-list__descr">Полимерные наборные покрытия для пола обладают превосходными декоративно-защитными качествами и отличными эксплуатационными характеристиками. ПВХ-плитка при всей своей неприхотливости нуждается в регулярном уходе, что позволит сохранить ее привлекательный вид. Соблюдение рекомендаций производителей и специалистов – залог долговечности этого уникального отделочного материала.</p>
                        </div>
                    </a>
                    <a href="/news-details.html" class="news-list__item" data-aos="zoom-in">
                        <div class="news-list__picture">
                            <div class="news-list__img" style="background-image: url(/assets/img/news-list-9.jpg);"></div>
                        </div>
                        <div class="news-list__text">
                            <p class="news-list__title">Внутреннее освещение в магазине:<br>основные нюансы</p>
                            <div class="news-list__row">
                                <p class="news-list__info">20 / 11 / 2020</p>
                                <p class="news-list__info">#декоративные</p>
                            </div>
                            <p class="news-list__descr">Полимерные наборные покрытия для пола обладают превосходными декоративно-защитными качествами и отличными эксплуатационными характеристиками. ПВХ-плитка при всей своей неприхотливости нуждается в регулярном уходе, что позволит сохранить ее привлекательный вид. Соблюдение рекомендаций производителей и специалистов – залог долговечности этого уникального отделочного материала.</p>
                        </div>
                    </a>
                    <a href="/news-details.html" class="news-list__item" data-aos="zoom-in">
                        <div class="news-list__picture">
                            <div class="news-list__img" style="background-image: url(/assets/img/news-list-10.jpg);"></div>
                        </div>
                        <div class="news-list__text">
                            <p class="news-list__title">Внутреннее освещение в магазине:<br>основные нюансы</p>
                            <div class="news-list__row">
                                <p class="news-list__info">20 / 11 / 2020</p>
                                <p class="news-list__info">#декоративные</p>
                            </div>
                            <p class="news-list__descr">Полимерные наборные покрытия для пола обладают превосходными декоративно-защитными качествами и отличными эксплуатационными характеристиками. ПВХ-плитка при всей своей неприхотливости нуждается в регулярном уходе, что позволит сохранить ее привлекательный вид. Соблюдение рекомендаций производителей и специалистов – залог долговечности этого уникального отделочного материала.</p>
                        </div>
                    </a>
                </div>
                <%= require('../modules/pagination.html') %>
            </div>
        </section>
    </main>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=03eead87-7c74-47b6-8225-a66c904574d8&lang=ru_RU" type="text/javascript"></script>
    <%= require('../modules/footer.html') %>
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>" type="text/javascript"></script><% } %>
</body>

</html>