<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ОРТГРАФ СВЕТ - светильник Bohemia Ivele Magius</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" /><% } %>
</head>

<body>
    <%= require('../modules/header.html') %>

    <main class="main">
        <section class="breadcrumbs">
            <div class="wrapper">
                <div class="breadcrumbs__list">
                    <span class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__link">назад</a>
                    </span>
                    <span class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__link">главная</a>
                    </span>
                    <span class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__link">каталог</a>
                    </span>
                    <span class="breadcrumbs__item">
                        <a href="" class="breadcrumbs__link">декоративное</a>
                    </span>
                    <span class="breadcrumbs__item active">светильник Bohemia Ivele Magius</span>
                </div>
            </div>
        </section>

        <section class="section product-details">
            <div class="wrapper">
                <div class="product-details__row">
                    <div class="mobile">
                        <div class="product-info__item product-info__item_main">
                            <p class="product-info__title product-info__title_main">MAGIUS</p>
                            <p class="product-info__descr product-info__descr_main">Bohemia Ivele (Чехия)</p>
                        </div>
                    </div>
                    <div class="product-details__gallery product-gallery">
                        <div class="product-gallery__top">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url(/assets/img/products/bohemia-ivele-magius/1.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/products/bohemia-ivele-magius/2.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/products/bohemia-ivele-magius/3.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/products/bohemia-ivele-magius/4.jpg)"></div>
                                </div>
                            </div>
                        </div>
                        <div class="product-gallery__thumbs">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url(/assets/img/products/bohemia-ivele-magius/1.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/products/bohemia-ivele-magius/2.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/products/bohemia-ivele-magius/3.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/products/bohemia-ivele-magius/4.jpg)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-details__info product-info">
                        <div class="row">
                            <div class="col-12 desktop">
                                <div class="product-info__item">
                                    <p class="product-info__title product-info__title_main">MAGIUS</p>
                                    <p class="product-info__descr product-info__descr_main">Bohemia Ivele (Чехия)</p>
                                </div>
                            </div>
                            <div class="col-12 mobile">
                                <div class="product-info__item product-info__item_button">
                                    <a data-fancybox data-animation-duration="700" data-src="#solution-request" class="button button_red solution-request__button"><span>хочу приобрести</span></a>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="product-info__item">
                                    <p class="product-info__title">ТИП</p>
                                    <p class="product-info__descr">ПОДВЕСНОЙ</p>
                                </div>
                                <div class="product-info__item">
                                    <p class="product-info__title">РАЗМЕРЫ</p>
                                    <p class="product-info__descr">
                                        450,600,650,750, <br>
                                        1050,1200 mm
                                    </p>
                                </div>
                                <div class="product-info__item">
                                    <p class="product-info__title">МОЩНОСТЬ</p>
                                    <p class="product-info__descr">
                                        30w/m-700 mA <br>
                                        16w/m-350 mA
                                    </p>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="product-info__item">
                                    <p class="product-info__title">ЦВЕТОВАЯ ТЕМПЕРАТУРА</p>
                                    <p class="product-info__descr">
                                        3000 K (теплый свет)<br>
                                        4000 K (нейтральный белый)
                                    </p>
                                </div>
                                <div class="product-info__item">
                                    <p class="product-info__title">ИНДЕКС ЦВЕТОПЕРЕДАЧИ</p>
                                    <p class="product-info__descr">80+Ra</p>
                                </div>
                            </div>
                            <div class="col-12 desktop">
                                <a data-fancybox data-animation-duration="700" data-src="#solution-request" class="button button_red solution-request__button"><span>хочу приобрести</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-details__more product-more">
                    <div class="product-more__tabs">
                        <p class="product-more__title active" data-product-toggle="tabs" data-product-more="product-descr">Описание</p>
                        <p class="product-more__title" data-product-toggle="tabs" data-product-more="product-spec">Все характеристики</p>
                    </div>
                    <p class="product-more__content active product-descr">
                        Samsung SDS и мировой лидер в области умного уличного освещения Telensa объединились, чтобы при помощи уличного освещения сделать города умными. Рассказываем, как это будет происходить и какие результаты ожидаются.
                        <br><br>
                        В общем смысле умный город — это город, в котором все информационные системы находятся под единым управлением. Задача информационных систем — собирать данные с каждого района и отправлять их в центр управления. Задача центра управления — собирать, хранить и обрабатывать данные, чтобы их можно было проанализировать и принять стратегические и локальные решения. И все это должно происходить автоматически в режиме реального времени. 
                        <br><br>
                        Уличное освещение считается самым оптимальным средством для создания умного города. Уличные фонари можно поставить на каждой улице и снабдить их нужными датчиками для сбора городских данных.  
                    </p>
                    <div class="product-more__content product-spec">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Бренд:</p>
                                    <p class="product-spec__descr">Bohemia Ivele</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Страна бренда:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Размеры:</p>
                                    <p class="product-spec__descr">Bohemia Ivele</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Материал арматуры:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Цвет арматуры:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Материал плафонов:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Цвет плафонов:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Бренд:</p>
                                    <p class="product-spec__descr">Bohemia Ivele</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Страна бренда:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Размеры:</p>
                                    <p class="product-spec__descr">Bohemia Ivele</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Материал арматуры:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Цвет арматуры:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Материал плафонов:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Цвет плафонов:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Бренд:</p>
                                    <p class="product-spec__descr">Bohemia Ivele</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Страна бренда:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Размеры:</p>
                                    <p class="product-spec__descr">Bohemia Ivele</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Материал арматуры:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Цвет арматуры:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Материал плафонов:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                                <div class="product-spec__item">
                                    <p class="product-spec__title">Цвет плафонов:</p>
                                    <p class="product-spec__descr">Чехия</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section product-list">
            <div class="wrapper">
                <div class="product-list__headline">
                    <p class="product-list__title">Другие товары категории</p>
                    <a href="" class="button desktop"><span>смотреть ещё</span></a>
                </div>
                <div class="product-list__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <a href="" class="swiper-slide items-list-item">
                                <p class="items-list-item__title">Tubo8 SQ</p>
                                <div class="items-list-item__picture" style="background-image: url(/assets/img/projects/project-item-1.jpg);"></div>
                            </a>
                            <a href="" class="swiper-slide items-list-item">
                                <p class="items-list-item__title">Relax</p>
                                <div class="items-list-item__picture" style="background-image: url(/assets/img/projects/project-item-2.jpg);"></div>
                            </a>
                            <a href="" class="swiper-slide items-list-item">
                                <p class="items-list-item__title">Dome Royal</p>
                                <div class="items-list-item__picture" style="background-image: url(/assets/img/projects/project-item-3.jpg);"></div>
                            </a>
                            <a href="" class="swiper-slide items-list-item">
                                <p class="items-list-item__title">Crocus Glade</p>
                                <div class="items-list-item__picture" style="background-image: url(/assets/img/projects/project-item-4.jpg);"></div>
                            </a>
                            <a href="" class="swiper-slide items-list-item">
                                <p class="items-list-item__title">Tubo8 SQ</p>
                                <div class="items-list-item__picture" style="background-image: url(/assets/img/projects/project-item-1.jpg);"></div>
                            </a>
                        </div>
                    </div>
                    <div class="slider-arrows">
                        <div class="slider-arrows__arrow slider-arrows__arrow_prew"></div>
                        <div class="slider-arrows__arrow slider-arrows__arrow_next"></div>
                    </div>
                </div>
                <div class="product-list__button mobile">
                    <a href="" class="button"><span>смотреть ещё</span></a>
                </div>
            </div>
        </section>

        <section class="section consult">
            <div class="wrapper">
                <form action="" class="consult__form" data-aos="zoom-in">
                    <h3 class="consult__title">
                        <span>Требуется</span> <br>
                        <span>консультация ?</span>
                    </h3>
                    <div class="consult__row consult__row_wrap">
                        <p class="consult__descr">Оставьте свой номер телефона и наш специалист свяжется с Вами в
                            кратчайшее время.</p>
                        <div class="consult__row consult__row_rewerce">
                            <button class="button button_red button_icon"><span>Получить консультацию</span></button>
                            <label class="consult__label">
                                <span>Телефон</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=03eead87-7c74-47b6-8225-a66c904574d8&lang=ru_RU" type="text/javascript"></script>
    <%= require('../modules/footer.html') %>
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>" type="text/javascript"></script><% } %>
</body>

</html>