<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ОРТГРАФ СВЕТ - Hyundai Motor Company</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <% for (key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" /><% } %>
</head>

<body>
    <%= require('../modules/header.html') %>

    <main class="main">
        <section class="section projects-details">
            <div class="wrapper">
                <h1 class="projects-details__title">Hyundai Motor Company</h1>
                <div class="projects-details__row">
                    <div class="projects-details__gallery projects-gallery">
                        <div class="projects-gallery__top">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-1.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-2.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-3.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-4.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-2.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-1.jpg)"></div>
                                </div>
                            </div>
                            <div class="projects-gallery__arrows">
                                <div class="projects-gallery__prew"></div>
                                <div class="projects-gallery__next"></div>
                            </div>
                        </div>
                        <div class="projects-gallery__thumbs">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-1.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-2.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-3.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-4.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-2.jpg)"></div>
                                    <div class="swiper-slide" style="background-image:url(/assets/img/hyundai/hyundai-1.jpg)"></div>
                                </div>
                            </div>
                            <div class="swiper-scrollbar projects-gallery__scrollbar"></div>
                        </div>
                    </div>
                    <div class="projects-details__info">
                        <div class="projects-details__card projects-details__card_red">
                            <p>Проект реализован:</p>
                            <p>Россия, г. Москва</p>
                        </div>
                        <div class="projects-details__card projects-details__card_black">
                            <p>Категория:</p>
                            <p>Торговля</p>
                        </div>
                        <p class="projects-details__descr">Hyundai Motor Company — южнокорейская автомобилестроительная
                            компания. Островки Hyundai Genesis Zone в Москве оформлены с использованием бархатистого
                            коврового покрытия AW Seduction и настенных покрытий Vescom Melvin.</p>
                        <div class="projects-details__request projects-request">
                            <p class="projects-request__title">Понравился проект?</p>
                            <div class="projects-request__row">
                                <p class="projects-request__text">Свяжитесь с нами и специалист ответит на ваши вопросы
                                </p>
                                <button class="button button_black projects-request__button"><span>Оставить заявку</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section projects-materials">
            <div class="wrapper">
                <p class="projects-materials__title">В проекте использовались материалы</p>
                <div class="projects-materials__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide projects-materials__item" data-aos="zoom-in">
                                <img src="/assets/img/logo-aw.png" alt="Логотип aw">
                            </div>
                            <div class="swiper-slide projects-materials__item" data-aos="zoom-in">
                                <img src="/assets/img/logo-vescom.jpg" alt="Логотип vescom">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar projects-materials__scrollbar"></div>
                </div>
            </div>
        </section>

        <section class="section consult">
            <div class="wrapper">
                <form action="" class="consult__form" data-aos="zoom-in">
                    <h3 class="consult__title">
                        <span>Требуется</span> <br>
                        <span>консультация ?</span>
                    </h3>
                    <div class="consult__row consult__row_wrap">
                        <p class="consult__descr">Оставьте свой номер телефона и наш специалист свяжется с Вами в
                            кратчайшее время.</p>
                        <div class="consult__row consult__row_rewerce">
                            <button class="button button_red button_icon"><span>Получить консультацию</span></button>
                            <label class="consult__label">
                                <span>Телефон</span>
                                <input type="text">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <%= require('../modules/footer.html') %>
    <% for (key in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>" type="text/javascript"></script><% } %>
</body>

</html>